.spacer {
    margin-top: 40px; /* define margin as you see fit */
}
.spacersmall {
    margin-top: 20px; /* define margin as you see fit */
}
.spacerLrg {
    margin-top: 200px; /* define margin as you see fit */
}

.col-lg-10 {
text-align: center;
}

h1.header {
font-size: 48pt;
}


h1.txtshd{
 text-shadow: 3px 3px 3px #828282;
}

i.fa.fa-circle.fa-lg {
text-shadow: 0px 0px 13px #000000;
color: white;
}

/*box shadow page*/

.boxShadow {
width: 65%;
height: 140px;
background-color: #DEDEDE;
}

div#well1 {
height: 140px;
}
input#insetBox {
vertical-align: top;

/*box shadow page*/