.spacer {
	margin-top: 40px; /* */
}
.spacersmall {
	margin-top: 20px; /* */
}
.spacerLrg {
	margin-top: 200px; /* */
}

.container {
	text-align: center;
}

h1.header {
	font-size: 48pt;
	color: #000000;
	font-variant: small-caps;
	font-weight: bold;

}


h1.txtshd{
	text-shadow: 3px 3px 3px #828282;
	color: #000000;
}
p#codeOut {
text-align: left;
}
p#codeOut2 {
text-align: left;
}
p#codeOut4 {
text-align: left;
}

i.fa.fa-circle.fa-lg {
	text-shadow: 0px 0px 13px #000000;
	color: white;
}

/*box shadow page*/

.boxShadow {
	/*width: 65%;*/
	height: 140px;
	background-color: #DEDEDE;
}
.boxTrans {
	/*width: 65%;*/
	height: 140px;
	background-color: #DEDEDE;
}
div#well1 {
	height: 140px;
	overflow-y: scroll;
}

div#well4 {
	height: 200px;
	overflow-y: scroll;
}
input#insetBox {
	vertical-align: top;
}

/*box shadow page*/



/*Border Radius*/

#tleft {
	transform: rotate(-45deg);
}

#tright {
	transform: rotate(45deg);
}
#bleft {
	transform: rotate(-135deg);
}
#bright {
	transform: rotate(135deg);
}

.fa-angle-up {
	font-size: 20pt;
}
/*Border Radius*/

/*long shadow page*/
i#gitFa {
	font-size: 8em;
	padding-left: 11px;
}

.longShadow {
	/*width: 300px;*/
	/*height: 240px;*/
	background-color: #ffffff;
	/*overflow: hidden;*/
}

h1.longshad {
	color: #000000;
	text-align: center;
	font-size: 120pt;
	font-weight: bold;
	margin-top: 29px;
}
/*long shadow page*/